<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div> 
        <div class="conte1">
            <img src="../public/images/logo.svg" alt="logo">

            <nav>
                <form action="/" class="form"> 
                <input type="text" name="naver" placeholder="Buscá productos por nombre, marcas o palabras clave" />
                <button type="submit"><i class="bx bx-search-alt-2" style='color:#080808'></i></button>
                </form>
            </nav>
            <a href="#" class="cuotas"> <i class='bx bx-dollar'></i> Compra en cuotras y sin tarjeta de credito</a>
        </div>
        
        <div class="conte2">
            <div> 
            <a href="#">Ofertas</a>
            <a href="#">Tiendas Oficiales</a>
            <a href="#">Vender</a>
            <a href="#">Ayuda</a>
        </div>
        <div> 
            <a href="#" class="a">Mas Compras<i class='bx bx-basket'></i></a>
            <a href="login.html" class="a">Ingresa<i class='bx bx-download bx-rotate-270' ></i></box-icon></a>
            <a href="registro.html" class="a">Crea tu cuenta <i class='bx bx-id-card' ></i></a>
        </div>
    </div>
    <div class="cajitaAzul"><i class='bx bxs-detail'></i></div>
    </header>
<!-- cassusel -->
<main> 
    <section class="carrusel"> 
        <ul>
            <li><img src="../public/images/carrusel.jpg" alt="imagen"></li>
            <li><img src="../public/images/carrusel2.webp" alt="imagen"></li>
            <li><img src="../public/images/carrusel3.webp" alt="imagen"></li>
            <li><img src="../public/images/carrusel4.webp" alt="imagen"></li>
        </ul>
    </section>


<!-- tarjetas -->
    <h1 class="h1-oferta"> Basado en tu ultima visita</h1>
    <section class="ofertas">
        <div class="card">
            <img src="../public/images/cafetera.jpg" alt="cafetera">
        <div class="cardText">
            <div class="cajaCamion">
                <div class="camionLogo"> 
                <i class='bx bxs-truck camion'></i>
            </div>
        </div>
            <p class="precio">$6.770</p>
            <p class="off">40% off</p>
            <div class="caja-name"> <p class="name"> Cafetera Moulinex</p></div>
        </div>
        </div>
        
        <div class="card">
            <img src="../public/images/celular.jpg" alt="cafetera">
        <div class="cardText">
            <div class="cajaCamion">
                <div class="camionLogo"> 
                <i class='bx bxs-truck camion'></i>
            </div>
        </div>
            <p class="precio">$70.500</p>
            <p class="off">10% off</p>
            <div class="caja-name"> <p class="name"> Cafetera Moulinex</p></div>
        </div>
        </div>

        <div class="card">
            <img src="../public/images/notebook.jpg" alt="cafetera">
        <div class="cardText">
            <div class="cajaCamion">
                <div class="camionLogo"> 
                <i class='bx bxs-truck camion'></i>
            </div>
        </div>
            <p class="precio">$230.000</p>
            <p class="off">20% off</p>
            <div class="caja-name"> <p class="name"> MacBook Pro 2019</p></div>
        </div>
        </div>

        <div class="card">
            <img src="../public/images/tv.jpg" alt="cafetera">
        <div class="cardText">
            <div class="cajaCamion">
                <div class="camionLogo"> 
                <i class='bx bxs-truck camion'></i>
            </div>
        </div>
            <p class="precio">$23.200</p>
            <p class="off">5% off</p>
            <div class="caja-name"> <p class="name"> Cafetera Moulinex</p></div>
        </div>
        </div>
    </section>

</section>

<h1 class="h1-oferta"> Ofertas</h1>
<section class="ofertas">
    <div class="card">
        <img src="../public/images/cafetera.jpg" alt="cafetera">
    <div class="cardText">
        <div class="cajaCamion">
            <div class="camionLogo"> 
            <i class='bx bxs-truck camion'></i>
        </div>
    </div>
        <p class="precio">$6.770</p>
        <p class="off">40% off</p>
        <div class="caja-name"> <p class="name"> Cafetera Moulinex</p></div>
    </div>
    </div>
    
    <div class="card">
        <img src="../public/images/celular.jpg" alt="cafetera">
    <div class="cardText">
        <div class="cajaCamion">
            <div class="camionLogo"> 
            <i class='bx bxs-truck camion'></i>
        </div>
    </div>
        <p class="precio">$70.500</p>
        <p class="off">10% off</p>
        <div class="caja-name"> <p class="name"> Cafetera Moulinex</p></div>
    </div>
    </div>

    <div class="card">
        <img src="../public/images/notebook.jpg" alt="cafetera">
    <div class="cardText">
        <div class="cajaCamion">
            <div class="camionLogo"> 
            <i class='bx bxs-truck camion'></i>
        </div>
    </div>
        <p class="precio">$230.000</p>
        <p class="off">20% off</p>
        <div class="caja-name"> <p class="name"> MacBook Pro 2019</p></div>
    </div>
    </div>

    <div class="card">
        <img src="../public/images/tv.jpg" alt="cafetera">
    <div class="cardText">
        <div class="cajaCamion">
            <div class="camionLogo"> 
            <i class='bx bxs-truck camion'></i>
        </div>
    </div>
        <p class="precio">$23.200</p>
        <p class="off">5% off</p>
        <div class="caja-name"> <p class="name"> Cafetera Moulinex</p></div>
    </div>
    </div>
</section>
</main>


<footer class="footer">
    <section class="pagos"> 
    <section>
        <i class='bx bxs-credit-card ftr'></i>
        <h5> Pagá con tarjeta o en efectivo </h5>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
    </section>

    <section>
        <i class='bx bx-gift ftr'></i>
        <h5> Envío gratis desde $ 2.500 </h5>
        <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
    </section>

    <section>
        <i class='bx bxs-user ftr'></i>
        <h5>Seguridad, de principio a fin</h5>
        <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
    </section>
    </section>

    
    <section class="copy">
        <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </section>
</footer>

</body>
</html>
    