<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre - Login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div> 
        <div class="conte1">
            <a href="/"> <img src="/images/logo.svg" alt="logo"></a>

            <nav>
                <form action="/" class="form"> 
                <input type="text" name="naver" placeholder="Buscá productos por nombre, marcas o palabras clave" />
                <button type="submit"><i class="bx bx-search-alt-2" style='color:#080808'></i></button>
                </form>
            </nav>
            <a href="#" class="cuotas"> <i class='bx bx-dollar'></i> Compra en cuotras y sin tarjeta de credito</a>
        </div>
        
        <div class="conte2">
            <div> 
            <a href="#">Ofertas</a>
            <a href="#">Tiendas Oficiales</a>
            <a href="#">Vender</a>
            <a href="#">Ayuda</a>
        </div>
        <div> 
            <a href="#" class="a">Mas Compras<i class='bx bx-basket'></i></a>
            <a href="/login" class="a">Ingresa<i class='bx bx-download bx-rotate-270' ></i></box-icon></a>
            <a href="/registro" class="a">Crea tu cuenta <i class='bx bx-id-card' ></i></a>
        </div>
    </div>
    <div class="cajitaAzul"><i class='bx bxs-detail'></i></div>
    </header>

    <main>
        <section class="register"> 
        <h1>Ingresá a tu cuenta a continuación</h1>
        <form action="/" method="get" enctype="application/x-www-form-urlencoded">

            <input type="text" name="username" id="username" placeholder="Nombre de Usuario" required><br>

                <input type="password" name="password" placeholder="Ingresá tu contraseña" required><br>

            <a href="/index"><input class="btn" type="submit" value="Enviar"></a><br>
            <input class="btn" type="reset" value="Borrar datos"><br>

        </form>
    </section>
    </main>

    <footer class="footer">
        <section class="pagos"> 
        <section>
            <i class='bx bxs-credit-card ftr'></i>
            <h5> Pagá con tarjeta o en efectivo </h5>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
    
        <section>
            <i class='bx bx-gift ftr'></i>
            <h5> Envío gratis desde $ 2.500 </h5>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
    
        <section>
            <i class='bx bxs-user ftr'></i>
            <h5>Seguridad, de principio a fin</h5>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
        </section>
    
        
        <section class="copy">
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
        </section>
    </footer>
</body>
</html>