<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header class="registro">
        <div> 
        <div class="conte1">
            <img src="../public/images/logo.svg" alt="logo">

            <nav>
                <form action="/" class="form"> 
                <input type="text" name="naver" placeholder="Buscá productos por nombre, marcas o palabras clave" />
                <button type="submit"><i class="bx bx-search-alt-2" style='color:#080808'></i></button>
                </form>
            </nav>
        </div>
        <p class="cuotas"> <i class='bx bx-dollar'></i> Compra en cuotras y sin tarjeta de credito</p>
        <div class="conte2">
            <div> 
            <a href="">Ofertas</a>
            <a href="">Tiendas Oficiales</a>
            <a href="">Vender</a>
            <a href="">Ayuda</a>
        </div>
        <div> 
            <a href="" class="a">Mas Compras <i class='bx bx-basket'></i></a>
            <a href="" class="a">Ingresa<i class='bx bx-download bx-rotate-270' ></i></box-icon></a>
            <a href="registro.html" class="a">Crea tu cuenta <i class='bx bx-id-card' ></i></a>
        </div>
    </div>
    <div class="cajitaAzul"><i class='bx bxs-detail'></i></div>
    </header>

    <main>
        <form action="/" method="post" class="register">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
            <input type="email" name="email" id="email" placeholder="Email">
            <h2> Fecha de nacimiento</h2>
            <input type="date" name="fecha" id="fecha">
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
            <h2> Perfil del usuario</h2>
            <input type="radio" name="comprador" id="comprador"> Comprador
            <input type="radio" name="vendedor" id="vendedor"> Vendedor
            <h2>Intereses</h2>
            <input type="checkbox" name="electro" id="electro"> Electro
            <input type="checkbox" name="moda" id="moda"> Moda
            <input type="checkbox" name="hogar" id="hogar"> Hogar
            <input type="checkbox" name="jugueteria" id="jugueteria"> jugueteria
            <input type="checkbox" name="vidaSana" id="vidaSana"> Vida sana
            <input> foto de usuario
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <input type="password" name="password2" id="password2" placeholder="Confirmar contraseña">
            <a href="index.html"><button type="submit">Enviar</button></a>
            <button type="reset">Borrar</button>
           
        </form>
    </main>

    <footer class="footer">
        <section>
            <i class='bx bxs-credit-card ftr'></i>
            <h5> Pagá con tarjeta o en efectivo </h5>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
    
        <section>
            <i class='bx bx-gift ftr'></i>
            <h5> Envío gratis desde $ 2.500 </h5>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
    
        <section>
            <i class='bx bxs-user ftr'></i>
            <h5>Seguridad, de principio a fin</h5>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
    
        <section class="copyright">
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
        </section>
    </footer>
</body>
</html>