*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }
 body{
     width: 100%;
     background: rgb(235, 235, 235);
     font-family: 'Roboto';
     font-size: 12px;
 }
 main{
     width: 90%;
     margin: 0 auto;
 }
 /* header */
 header{
     width: 100%;
     max-width: 100%;
     height: 100px;
     background: rgb(255, 241, 89);
 }
 .conte1{
     top: 10px;
     display: flex;
     position: relative;
     width: 100%;
     height: 50%;
     justify-content: center;
 }
 .conte1 img{
     height: 40px;
 }
 .conte1 nav input{
     margin-left: 20px;
     padding-left:10px;
     width: 600px;
     height: 40px;
     border: none;
     box-shadow: 1px 1px 3px 0 #00000048;
     border-radius: 2px;
 }
 header button{
     width: 30px;
     height: 40px;
     background: #fff;
     border: none;
     box-shadow: 1px 1px 3px 0 #00000048;
     border-radius: 2px;
     box-sizing: border-box;
 }
 header .cuotas{
    position: relative;
    height: 20px;
    top: 15px;
    font-size: 16px;
}
 .conte2{
     width: 100%;
     height: 50%;
     position: relative;
     top: 30px;
     left: 20px;
     display: grid;
     grid-template-columns: 50% 50%;
 }
 a{
     text-decoration: none;
     color: rgba(0, 0, 0, 0.671);
     margin-left: 20px;
 }
 .conte2 .a{
    
     text-decoration: none;
     color: rgba(0, 0, 0, 0.671);
     float:right;
     display: flex;
     text-align: center;
 }
 
 
 /* carrusel */
 .carrusel{
     width: 100%;
     height: 350px;
     overflow: hidden;
     justify-content: center;
 }
 ul{
     width: 400%;
     display: flex;
     animation: slider 20s infinite alternate linear;
 }
 .carrusel li{
     width: 100%;
     list-style: none;
 }
 .carrusel img{
     width: 100%;
     height: 100%;
 }
 @keyframes slider{
     0%{margin-left: 0;}
     20%{margin-left: 0;}
 
     25%{margin-left: -100%;}
     45%{margin-left: -100%;}
 
     50%{margin-left: -200%;}
     70%{margin-left: -200%;}
 
     75%{margin-left: -300%;}
     100%{margin-left: -300%;}
 }
 
 
 /* ofertas */
 .ofertas{
     width: 100%;
     padding: 10px;
     display: flex;
     justify-content: center;
     box-sizing: border-box;
     margin-bottom: 20px;
 }
 .h1-oferta{
     font-size: 24px;
     color: #666;
     padding-bottom: 10px;
     padding-top: 10px;
     text-align: center;
 }
 .card{
     width: 300px;
     height: 100%;
     background: #fff;
     overflow: hidden;
     margin: 10px;
 }
 .card img{
     width: 95%;
     height: 65%;
 }
 .card .cardText{
     background: #ffffff;
     padding-left: 10px;
     border-top: solid 2px #ebebeb;
 }
 .cardText .precio{
     font-size: 18px;
 }
 .cardText .off{
     font-size: 16px;
     color: #39b54a;
 }
 .caja-name .name{
    width: 100%;
    height: 100%;
    opacity: 0;
    box-sizing: border-box;
    position: relative;
    
    font-size: 16px;
    padding: 10px 0px;
 }
 .card .caja-name :hover{
    opacity: 1;
 }

 /* footer */
.footer {
    background-color: white; 
  }
 
  footer section p {
    margin-bottom: 25px;
    text-align: center;
    padding: 0 32px 0 32px;
  }

  footer section h5 {
    font-size: 25px;
    font-weight: bolder;
    align-items: center;
  }
  
  footer section {
    text-align: center;
    justify-content: center;
  }
 
  .copy p{
   color: rgba(0, 0, 0, 0.863);
   padding: 0 0 15px ;
  }

 /*-------------- iconos ------------------ */
 .cajitaAzul{
    color: #1259c3;
 }
 .bx-search-alt-2{ /*lupa*/
     font-size: 20px;
 }
 
 .cajaCamion{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 80%;
    bottom: 20px;
    border: solid 1px #39b54a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border-width: 1px;
    font-size: 25px;
 }
 .camionLogo{
    color: #39b54a;
 }
 .camionLogo:hover{
    animation: rotar linear 3s 1;
    transition: 0.5s ease;
 }
 @keyframes rotar {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
 }
 
 .bx-basket{
     font-size: 20px;
     padding-right: 30px;
     padding-left: 5px;
     display: flex;
     position: relative;
     top: -4px;
 }
 .bx-download{
     font-size: 20px;
     padding-left: 5px;
 }
 .bx-id-card{
    font-size: 20px;
    position: relative;
    padding-left: 5px;
    bottom: 5px;
 }

 .ftr { /* footer */
    width: 100%;
    color: #1259c3;
    font-size: 32px;
    margin-top: 3rem;
    margin-bottom: 10px;
  }
  
  footer section i:hover {
    color: #0a3a82 ;
  }






/* Navegación en tablets (ancho mínimo 361 px)
● Navegación en desktop (ancho mínimo 769 px) */
/* un artículo si estamos en mobile, dos artículos para tablet y cuatro artículos
para la versión desktop */
/* Logo: tiene que medir el 50% de su contenedor.
Barra de búsqueda: tiene que medir el 50% de su contenedor. */

@media ((min-width:0px) and (max-width:480px)){
   /* celular */
   header{
    width: 480px;
    height: 150px;
    position: absolute;
    overflow: hidden;
}
   .ofertas{
    display: block;
   }
   .card{
    width: 90%;
   }
   header{
    width: 100%;
    height: 180px;
   }
   .conte1 img{
    width: 100%;
   }
   .conte1{
    display: grid;
    grid-template-columns: 30% 70%;
   }
   header .conte1 input{
    width: 200px;
    max-width: 100%;
}
   .conte1 button{
    position: relative;
    left: -4px;
    top: 4px;
   }
   .cuotas{
    width: 400px;
    font-size: 13px;
    position: relative;
    text-align: center;
    top: 50px;
   }
   .conte2{
    display: none;
   }
   .cajitaAzul i{
    display: flex;
    position: relative;
    top: 60px;
    justify-content: center;
    font-size: 50px;
   }
   .carrusel{
    padding-top: 180px;
    height: 200%;
   }

    /* ---login y register--- */
    .register{
        position: relative;
        top: 200px;
        margin-bottom: 60%;
    }

}

@media ((min-width:481px) and (max-width:760px)){
    /* tablet */
    header{
        width: 800px;
        height: 150px;
        position: absolute;
        overflow: hidden;
    }
    header .conte1{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    header .conte1 input{
        width: 100%;
        max-width: 100%;
    }
    header button{
        position: relative;
        top: -40px;
        left: 100%;
    }
    header .cuotas{
        display: flex;
        position: relative;
        font-size: 13px;
        left: 20px;
        right: 20px;
    }
    header .conte2{
        top: -5px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .a{
        padding-top: 15px;
    }
    .cajitaAzul{
        display: none;
    }

    .carrusel{
        padding-top: 150px;
        height: 200%;
    }
    
    .ofertas{
       display: grid;
       grid-template-columns: 50% 50%;
       
    }
    .card{
        width: 100%;
        height: 100%;
        border: solid 5px #ebebeb;
    }
    .cajaCamion{
     width: 30px;
     height: 30px;
     font-size: 18px;
    }

 /* ---login y register--- */
 .register{
    position: relative;
    top: 170px;
    margin-bottom: 35%;
}

 }

 @media ((min-width:761px) and (max-width:1279px)){
    /* notebook */
    header{
        width: 1279px;
        position: absolute;
        overflow: hidden;
    }
    header .conte1{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    header .conte1 input{
        width: 100%;
        max-width: 100%;
    }
    header button{
        position: relative;
        top: -40px;
        left: 250px;
    }
    header .cuotas{
        display: flex;
        position: relative;
        left: 30px;
        font-size: 14px;
        
    }
    header .conte2{
        display: grid;
        top: -5px;
        grid-template-columns: 40% 60%;
        justify-content: space-between;
    }
    header .conte2 a{
        position: relative;

    }
    .cajitaAzul{
        display: none;
    }

    .carrusel{
        height: 200%;
        padding-top: 100px;
    }

    .cajaCamion{
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    .pagos{
        display: flex;
        flex-direction: row;
    }

    /* ---login y register--- */
    .register{
        position: relative;
        top: 120px;
        margin-bottom: 20%;
    }
    
}
@media ((min-width:1280px)){
    /* desktops */
header button{
    position: relative;
    top: 4px;
    left: -4px;
}

.cajitaAzul{
    display: none;
}
.ofertas :hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.card :hover{
    box-shadow: 0px 0px 0px rgb(100, 100, 100);
}
.pagos{
    display: flex;
    flex-direction: row;
}
 }

 /* ----------------------login y register-------------------- */
 .register {
    border: solid 1px rgba(89, 155, 255, 0.144) ;
    border-radius: 20px;
    background: rgba(92, 127, 179, 0.144);
    text-align: center;
    margin-top: 30px;
  }
.register h1 {
  margin: 15px 0;
}
.register form .selec {
  align-self: center;
  text-align: center;
  width: 20%;
  margin-left: 35%;
}
.register form {
  width: 60%;
  margin: auto;
}
.register form .intereses {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.register form .btn {
  background-color: #1259c3;
  color: white;
  width: 63%;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  text-align: center;
}
.register form .btn:hover {
  background-color: #03264C;
}
.register form h4 {
  margin-bottom: 1rem;
  font-size: 16px;
  text-align: center;
}
.register form input {
  margin-bottom: 2rem;
  border: none;
  padding: 0.8rem;
  width: 60%;
  text-align: left;
}

.register form input {
  border-radius: 5px;
}